<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="float-left mb-5"><%= 'プロフィール' %></h1>
      <table class="table" style="margin: 0 auto; text-align: center;">
        <tr>
          <td class="avatar-cell" style="display: flex; justify-content: center;">
            <%= image_tag @user.avatar_url, class: 'rounded-circle', size: '150x150' %>
          </td>
        </tr>
        <tr>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td><%= @user.user_name %></td>
        </tr>
      </table>
      <div class="text-center">
        <% if current_user && current_user.id == @user.id %>
          <%= link_to '編集', edit_profile_path(@user), class: 'btn btn-success' %>
        <% end %>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="row">
            <% if @posts.present? %>
              <% @posts.each do |post| %>
                <div class="col-sm-12 col-lg-3 mb-3">
                  <div id="post-id-<%= post.id %>">
                    <div class="card">
                      <%= link_to post_path(post) do %>
                        <%= image_tag post.post_image.url, width: "270", height: "170" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="mb-3">投稿がありません</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>